body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
a {
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}
hr {
    width: 50%;
}
ul {
    list-style-type: none;
}
.heading {
    text-align: center;
    font-size: 30px;
}
